/* -------------------------------- 

Contact Form

-------------------------------- */

.cd-form {
	
	width: 100%;

	fieldset {

	}

	legend {
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-size: 2rem;
		border-bottom: 1px solid $color-3;
		text-align: center;
		line-height: 4.5rem;
		font-weight: 700;
		color: $white;
	}

	div {
		/* form element wrapper */
		position: relative;
		margin: 20px 0;
	}

	h4, .cd-label {
		font-size: 1.3rem;
		color: $white;
		margin-bottom: 10px;
	}

	.cd-label {
		display: block;
	}

	input, textarea, select, label {
		font-family: $primary-font;
		font-size: 1.6rem;
		color: $white;
	}

	input[type="text"], 
	input[type="email"], 
	textarea, 
	select,
	legend {
		display: block;
		width: 100%;
		@include appearance(none);
	}

	input[type="text"], 
	input[type="email"], 
	textarea, 
	select {
		/* general style for input elements */
		padding: 12px;
		border: 1px solid darken($white, 50%);
		background-color: $color-4;
		border-radius: .25em;
		box-shadow: inset 0 1px 6px rgba(#000, .3);
		@include transition(all .6s);

		&:focus {
			outline: none;
			border-color: $white;
			box-shadow: 0 0 5px rgba($color-2, .2);
		}
	}

	.cd-select {
		/* select element wapper */
		position: relative;

		&::after {
			/* arrow icon for select element */
			content: '';
			position: absolute;
			z-index: 1;
			right: 16px;
			top: 50%;
			margin-top: -8px;

			display: block;
			width: 16px;
			height: 16px;

			background: url('../img/cd-icon-arrow.svg') no-repeat center center;
			pointer-events: none;
		}
	}

	select {
		box-shadow: 0 1px 3px rgba(#000, .08);
		cursor: pointer;
	}

	select::-ms-expand {
		display: none;
	}

	.cd-form-list {
		margin-top: 16px;
		@include clearfix;
	}

	.cd-form-list li {
		/* wrapper for radio and checkbox input types */
		display: inline-block;
		position: relative;
		@include user-select(none);
		margin: 0 26px 16px 0;
		float: left;
	}

	input[type=radio],
	input[type=checkbox] {
		/* hide original check and radio buttons */
		position: absolute;
		left: 0;
		top: 50%;
		@include transform(translateY(-50%));
		margin: 0;
		padding: 0;
		opacity: 0;
		z-index: 2;
	}

	input[type="radio"] + label, 
	input[type="checkbox"] + label {
		padding-left: 24px;
	}

	input[type="radio"] + label::before,
	input[type="radio"] + label::after,
	input[type="checkbox"] + label::before,
	input[type="checkbox"] + label::after {
		/* custom radio and check boxes */
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -8px;
		width: 16px;
		height: 16px;
	}

	input[type="radio"] + label::before,
	input[type="checkbox"] + label::before {
		border: 1px solid darken($white, 50%);
		background: $color-4;
		box-shadow: inset 0 1px 1px rgba(#000, .08);
	}

	input[type="radio"] + label::before,
	input[type="radio"] + label::after {
		border-radius: 50%;
	}

	input[type="checkbox"] + label::before,
	input[type="checkbox"] + label::after {
		border-radius: .25em;
	}

	input[type="radio"] + label::after,
	input[type="checkbox"] + label::after {
		background-color: $color-2;
		background-position: center center;
		background-repeat: no-repeat;
		box-shadow: 0 0 5px rgba($color-2, .4);
		display: none;
	}

	input[type="radio"] + label::after {
		/* custom image for radio button */
		background-image: url('../img/cd-icon-radio.svg');
	}

	input[type="checkbox"] + label::after {
		/* custom image for checkbox */
		background-image: url('../img/cd-icon-check.svg');
	}

	input[type="radio"]:focus + label::before,
	input[type="checkbox"]:focus + label::before {
		/* add focus effect for radio and check buttons */
		box-shadow: 0 0 5px rgba($color-2, .6);
	}

	input[type="radio"]:checked + label::after,
	input[type="checkbox"]:checked + label::after {
		display: block;
	}

	input[type="radio"]:checked + label::before,
	input[type="radio"]:checked + label::after,
	input[type="checkbox"]:checked + label::before,
	input[type="checkbox"]:checked + label::after {
		@include animation(cd-bounce .3s);
	}

	textarea {
		min-height: 150px;
		resize: vertical;
		overflow: auto;
	}

	input[type="submit"] {
		/* button style */
		border: none;
		background: $color-2;
		border-radius: .25em;
		padding: 16px 20px;
		color: $color-4;
		font-weight: bold;
		float: right;
		cursor: pointer;
		@include font-smoothing;
		@include appearance(none);

		.no-touch &:hover {
			background: lighten($color-2, 5%);
		}

		&:focus {
			outline: none;
			background: $color-1;
		}

		&:active {
			@include transform(scale(.9));
		}
	}

	[required] {
		background: url('../img/cd-required.svg') no-repeat top right;
	}

	.error-message p {
		background: $white;
		color: $color-3;
		font-size: 1.4rem;
		text-align: center;
		@include font-smoothing;
		border-radius: .25em;
		padding: 16px;
	}

	.error {
		border-color: $white !important;
	}

	@include MQ(M) {
		div {
			/* form element wrapper */
			margin: 32px 0;
		}

			legend + div {
			/* reduce margin-top for first form element after the legend */
			margin-top: 20px;
		}

		h4, .cd-label {
			font-size: 1.4rem;
			margin-bottom: 10px;
		}

		input[type="text"], 
		input[type="email"], 
		textarea, 
		select {
			padding: 16px;
		}
	}
}

@include keyframes(cd-bounce) {
	0%, 100% {
		@include transform(scale(1));
	}

	50% {
		@include transform(scale(.8));
	}
}

/* -------------------------------- 

Custom icons

-------------------------------- */

.cd-form {
	.icon input, .icon select, .icon textarea {
		padding-left: 54px !important;
	}

	.user {
		background: url('../img/cd-icon-user.svg') no-repeat 16px center;
	}

	[required].user {
		background: url('../img/cd-icon-user.svg') no-repeat 16px center, 
					url('../img/cd-required.svg') no-repeat top right;
	}

	.company {
		background: url('../img/cd-icon-company.svg') no-repeat 16px center;
	}

	[required].company {
		background: url('../img/cd-icon-company.svg') no-repeat 16px center, 
					url('../img/cd-required.svg') no-repeat top right;
	}

	.email {
		background: url('../img/cd-icon-email.svg') no-repeat 16px center;
	}

	[required].email {
		background: url('../img/cd-icon-email.svg') no-repeat 16px center, 
					url('../img/cd-required.svg') no-repeat top right;
	}

	.budget {
		background: url('../img/cd-icon-budget.svg') no-repeat 16px center;
	}

	.message {
		background: url('../img/cd-icon-message.svg') no-repeat 16px 16px;
	}

	[required].message {
		background: url('../img/cd-icon-message.svg') no-repeat 16px 16px, 
					url('../img/cd-required.svg') no-repeat top right;
	}
}





/* ---------------------------------------------------------------- 

 LOADING animation of modals

 ---------------------------------------------------------------- */


.cd-transition-layer1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport*/
		height: 100%;
		/* our sprite is composed of 25 frames */
		width: 2500%;
		background: url(../img/ink1.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}

.cd-transition-layer2 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
		height: 100%;
		/* our sprite is composed of 25 frames */
		width: 2500%;
		background: url(../img/ink2.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}

.cd-transition-layer3 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
		height: 100%;
		/* our sprite is composed of 25 frames */
		width: 2500%;
		background: url(../img/ink3.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}

.cd-transition-layer4 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */*/
		height: 100%;
		/* our sprite is composed of 25 frames */
		width: 2500%;
		background: url(../img/ink4.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}

.cd-transition-layer5 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
		height: 100%;
		/* our sprite is composed of 25 frames */
		width: 2500%;
		background: url(../img/ink2.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}


