@import "bourbon/bourbon";

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */


*, *::after, *::before {
	box-sizing: border-box; 
}

html { 
	font-size: 62.5%;
	@include scrollbars(1rem, $color-1);  
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font;
	}
	color: $color-1;
	background-color: $color-3;
	@include font-smoothing;

}

html, body {
	height: 100%;
}


a {
	color: $color-2;
	text-decoration: none;
}

canvas{
  display:block;
  position: absolute;
  vertical-align:bottom;
}

::selection{
	color:$white;
	background-color: $color-1;
}


/* -------------------------------- 

  Enterence

-------------------------------- */



.jumbotron{
	height:100%;
	margin-bottom: 0;

	@include linearGradient(-45deg, $color-2 ,lighten($color-2,15%));

	& img{
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0;
		box-sizing: border-box;
		overflow: hidden;
		width: 100%;
		animation-name:imageanimation;
		animation-iteration-count: infinite;
		animation-duration: 180s;
		animation-timing-function: cubic-bezier(0, 0, 1, 1);
		mix-blend-mode: overlay;
		filter: grayscale(100%);
	}
}

.website_header{

	& img{
		animation-name:imageanimation_web;
		animation-duration: 100s;

	}
}

.jumbotron-text{

	padding-left: 10%;
	position: absolute;
	bottom: 10%;
	z-index:15;

	@include MQ(M) {
  		bottom:0%;
  	}


	h1{
		opacity: 0;
		animation-name:titleopacity;
	  	animation-duration: 2s;
	  	animation-delay: 0.75s;
	  	animation-timing-function: cubic-bezier(0, 0, 1, 1);
	  	animation-fill-mode: forwards;
	}

	h4{

		opacity: 0;
		animation-name:titleopacity;
	  	animation-duration: 1.25s;
	  	animation-delay: 3s;
	  	animation-timing-function: cubic-bezier(0, 0, 1, 1);
	  	animation-fill-mode: forwards;
	}
}

#particles-js{
	width: 100%;
	height: 100%;
	z-index: 30;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.skew-box{
	@include transform(skewY(-15deg));
	background-size: cover;
	background-color: $white;
	height:100%;
	width: 100%;
	position: fixed;
	bottom: 50%;
	@include backface-visibility(hidden);
	overflow: hidden;
	z-index: 10;
}

.skew-content{
	@include transform(skewY(15deg));
	height: 100%
}

@keyframes imageanimation {
    0% {
        transform: translateY(-480px);
        opacity: 0;
    }
    2% {
    	opacity: 0.6;
    }
    100% {
        transform: translateY(-8500px);
    }
}


@keyframes imageanimation_web {
    0% {
        transform: translateY(-480px);
        opacity: 0;
    }
    2% {
    	opacity: 0.6;
    }
    100% {
        transform: translateY(-4500px);
    }
}

@keyframes titleopacity {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes Gradient { 
    0%{
    	background-position:0% 50%
    }
    50%{
    	background-position:100% 50%
    }
    100%{
    	background-position:0% 50%
    }
}

.video_container{
	position: absolute;
    opacity: 0.7;
    filter: grayscale(100%);
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background: url(../img/video_bg.jpg) no-repeat center center;
	video{
		min-width: 100%;
	    min-height: 100%;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    display: none;
	    @include MQ(M) {
				display: block;
			}
	}
}

.common_enterence{
	@include transform(skewX(-10deg));
	height: 100%!important;
	width: 70%!important;
	position: fixed;
    @include transition(all, 10s, 0.5s, ease);
    z-index: 30;



    .titletext{
    	top: 70vh;
   		position: relative;
   		pointer-events: none;
   		margin: auto;
   		width: 50%;
   		@include transform(skewX(10deg));
   		h5{
   			@include transition(all, 2s, ease);
   			text-align: center;
   			/*mix-blend-mode: overlay;*/
   			color: $white;
   			margin: auto;
   			
   			font:{
   				size: 1.9rem;	
   				weight: 700;
   			}
   			@include MQ(M) {
				font-size:2.5rem;

			}
   			@include MQ(L) {
				font-size:3rem;
				padding: 30px 30px;
				width: 80%;
			}
			
   		}
	}
	&:hover{
    	/*width: 90%!important;*/
    	z-index: 35!important;
    	
    	.titletext{
    		h5{
    			mix-blend-mode: normal;
			    margin: auto;
			    &:before{
			    	background-color: $white;
			    }
    		}
    	}
    }
}

.skew-box_enterence{
	@include linearGradient(-45deg, darken($firstcolor-1,10%), lighten($firstcolor-2,20%));
    left: -20%;
    float: left;
    background-size: 500% 500%;
    animation: Gradient 10s ease infinite;
   	mix-blend-mode: screen;
    @include transition(all, 2s, ease);

     @include MQ(M) {
			mix-blend-mode: overlay;
		}	
    &:hover{
    	mix-blend-mode: screen;
    };
   	.titletext{
    	right: -15%;
    	@include MQ(M) {
			right: -10%;
		}
    }

}

.particles_enterence{
	@include linearGradient(-45deg, $secondcolor-2 ,lighten($secondcolor-1,15%));
	right: -20%;
	float: right;
	background-size: 200% 200% !important;
    animation: Gradient 20s ease infinite;
    mix-blend-mode: hard-light;
    @include transition(all, 2s, ease);
    @include MQ(M) {
			mix-blend-mode: overlay;
		}	

    &:hover{
    	mix-blend-mode: hard-light;
    };
    .titletext{
    	left: -10%;

    }
}


.name_enterence{
	z-index: 40;
    position: fixed;
    text-align: center; 
    margin: auto;
    top: 20%;
    width: 80%;
    left:0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    animation: slide_down 2s 2s ease forwards;
    mix-blend-mode: normal;
    /*background-color: rgba($white, 0.8);*/
    padding: 50px;
    /*@include boxShadow($color-2, 2px);*/
	@include MQ(M) {
			top: 10%;
			mix-blend-mode: overlay;
		}	
	h1{
		color: $white;
		text-transform: uppercase;
		span:nth-of-type(1){
			letter-spacing: 1px;
			@include MQ(M) {
			letter-spacing: 1px; 
		}
		}

		span:nth-of-type(2){
			letter-spacing: 4px;
			@include MQ(M) {
			letter-spacing: 1px;
		}
		}

		font:{
			size:5rem;	 
		}
		@include MQ(M) {
			font-size: 9rem;  
		}	
	}
	h2{
		color: $white;
		font:{
			size:2rem; 
		}
		@include MQ(M) {
			font-size: 3rem; 
			animation: slide_down 1.5s 2s ease forwards;  
		}
	}	
}

@keyframes slide_left {
    0% {
        transform: translateX(-480px);
        opacity:0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide_right {
    0% {
        transform: translateX(480px);
        opacity:0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide_down {
    0% {
        transform: translateY(-20px);
        opacity:0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.text-color{
    @include linearGradient(-45deg, $color-2 ,lighten($color-1,15%));
    -webkit-background-clip: text;
    background-size: 200% 200% !important;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */

.cd-btn {
	flex: 1;
	padding: 1.6em 2.4em;
	font-size: 1.4rem;
	letter-spacing: .15em;	
	
	font-weight: 700;
	text-transform: uppercase;
	background-color: $color-2;
	box-shadow: 0 0px 30px rgba(0, 0, 0, .0);
	@include font-smoothing;
	@include transition(all .3s);

	display: flex;
	align-items: center;
	flex-direction: row;
	opacity: .9;

	cursor: crosshair;

	

	.no-touch &:hover {
		box-shadow: 0 0px 30px rgba(0, 0, 0, .6);
	}





	&:nth-of-type(2){
    	/*background-image: url(../img/img-1.jpg);*/
    	@include linearGradient(33deg, darken(#CB0076, 10%), #CB0076); 
	    	
	    	&:before{
	    	background-image: url(../img/logo/tsa_logo.svg);
	    	content: " ";
	    	width:200px;
	    	height: 75px;
    		background-size: contain;
    		color: $white;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    opacity: 0;
			animation:titleopacity 2s 3.5s cubic-bezier(0, 0, 1, 1) forwards;
	    }
    }

    &:nth-of-type(5){
		/*background-image: url(../img/img-2.jpg);*/
    	@include linearGradient(33deg, #3B6E98, darken(#3B6E98, 20%));

    		&:before{
	    	background-image: url(../img/logo/meridian_logo_rev.svg);
	    	content: " ";
	    	width:200px;
	    	height: 30px;
	    	color: $white;
    		background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    opacity: 0;
		    animation:titleopacity 2s 4s cubic-bezier(0, 0, 1, 1) forwards;
	    }
    }

    &:nth-of-type(3){
    	/*background-image: url(../img/img-3.jpg);*/
    	@include linearGradient(33deg, darken(#F15060, 20%), #F15060);

    		&:before{
	    	background-image: url(../img/logo/cundari_rev.svg);
	    	content: " ";
	    	width:200px;
	    	height: 40px;
	    	color: $white;
    		background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    opacity: 0;
		    animation:titleopacity 2s 4.5s cubic-bezier(0, 0, 1, 1) forwards;
	    }
    }

    &:nth-of-type(4){
		/*background-image: url(../img/img-1.jpg);*/
    	@include linearGradient(33deg, #FFffee, #FFffdd);

    		&:before{
	    	background-image: url(../img/logo/jamieson_logo.svg);
	    	content: " ";
	    	width:200px;
	    	height: 50px;
	    	color: $color-3;
    		background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    opacity: 0;
		    animation:titleopacity 2s 5s cubic-bezier(0, 0, 1, 1) forwards;
	    }
	    h5{
	    	color: $color-3;
	    }
    }

    &:nth-of-type(1){
		/*background-image: url(../img/img-2.jpg);*/
    	@include linearGradient(33deg, #022337, #1f0746);
    	cursor: default;

    		&:before{
	    	background-image: url(../img/logo/promescent.svg);
	    	content: " ";
	    	width:200px;
	    	height: 55px;
	    	color: $white;
    		background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    opacity: 0;
		    animation:titleopacity 2s 5.5s cubic-bezier(0, 0, 1, 1) forwards;


	    }
    } 

    &:hover{
    	flex-grow: 2;	
    	opacity: 1.0;
    	color: $white;
    }

    h5{
    	opacity: 1;
    	@include MQ(M) {
	    	opacity: 0;
	    	@include transition(all 2s);
	    	transform: translateX(75px);
	    	color: $white;
	    }
    }

    &:hover h5{
    	@include MQ(M) {
	    	opacity: 1;
	    	transform: translateX(0px);
	    }
    }

    
}

.cd-btn-logo{
	display: flex;
	align-items: center;
}

/* -------------------------------- 

Typography

-------------------------------- */

h1 {
	font: {
  	size: 4rem;
  	weight: 700;
  	family: $secondary-font;
  	style: normal;
  } 

  margin-bottom: 1.25rem;
  color: $color-1;

	@include MQ(M) {
		font-size: 5rem;
	}
}

h3 {
	font: {
  	size: 1.8rem;
  	weight: 700;
  	family: $secondary-font;
  	style: normal;
  } 

  margin-bottom: 1.25rem;
  color: $color-1;
}

h4{
  font: {
  	size: 1.3em;
  	weight: 400;
  	family: $primary-font;
  }
  letter-spacing: 8px;
  color:$color-3;
  
}

h5{
  font: {
  	size: 1.6rem; 
  	family: $primary-font;
  	weight: 300;
  }
  color: $color-3;

}

h6{
  font: {
  	size: 1.2rem; 
  	family: $primary-font;
  	weight: 300;
  }
  color: $color-4;

}

p {
	line-height: 3.5rem;
    word-wrap: break-word;
    text-align: justify;
}



/* -------------------------------- 

Flex Box

-------------------------------- */


.flexcontainer{
	display: flex;
	flex-flow: column;
    align-items: flex-start;

	@include MQ(M) {
		display: flex;
		flex-flow: row;
	}

}

.smallitem{
    flex: 1;
	width: 100%;
	padding: 2.5%;

    @include MQ(M) {
		flex: 1 auto;
	    
	}

	img{
		width: 100%;
	}

	img + p{
		font:{
			size:1.5rem !important;
		}
	}

	

}


/* -------------------------------- 

Main Content Containers

-------------------------------- */



.cd-main-content {
	position: relative;
	z-index: 20;
	/* vertically align its content */
	display: flex;
    flex-direction: column;
	background-color: $white;
	overflow: hidden;
	height:100%;
	justify-content: center;
    align-self: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    
}

.webpageslist{
	background-color: $white;
	padding: 0 5rem;
	z-index: 20;
	position: relative;

	a{
		color:$color-1;
	}

	p{
		text-align: center;
		font:{
			weight:700;
		};
	}

	.flexcontainer{

		&:nth-of-type(1){
	

			.smallitem{
				img{
						box-shadow: none;
					}

				&:nth-of-type(1){
					&:hover{
						img{
							@include boxShadow(lighten($color-1, 10%), 2px);
							@include transition(box-shadow 0.6s);
						};
					}
				}
				&:nth-of-type(2){
					&:hover{
						img{
							@include boxShadow($color-1, 2px);
							@include transition(box-shadow 0.6s);
						};
					}
				}
				&:nth-of-type(3){
					&:hover{
						img{
							@include boxShadow(darken($color-1, 10%), 2px);
							@include transition(box-shadow 0.6s);
						};
					}
				}	
			}
		}

		&:nth-of-type(2){
	

			.smallitem{
				&:nth-of-type(1){
					&:hover{
						img{
							@include boxShadow(lighten(#b30046, 10%), 2px);
							@include transition(box-shadow 0.6s);
						};
					}
				}
				&:nth-of-type(2){
					&:hover{
						img{
							@include boxShadow(#b30046, 2px);
							@include transition(box-shadow 0.6s);
						};
					}
				}
				&:nth-of-type(3){
					&:hover{
						img{
							@include boxShadow(darken(#b30046, 10%), 2px);
							@include transition(box-shadow 0.6s);
						};
					}
				}	
			}
		}

		&:nth-of-type(3){
			.smallitem{
				&:nth-of-type(1){ 
					&:hover{
						img{
							@include boxShadow(lighten(#ca4f00, 10%), 2px);
							@include transition(box-shadow 0.6s);
						}
					}
				}
				&:nth-of-type(2){
					&:hover{
						img{
							@include boxShadow(#ca4f00, 2px);
							@include transition(box-shadow 0.6s);
						};
					}
				}
				&:nth-of-type(3){
					&:hover{
						img{
							@include boxShadow(darken(#ca4f00, 10%), 2px);
							@include transition(box-shadow 0.6s);
						};
					}
				}	
			}
		}
	}
	
}


/* -------------------------------- 

Modal window 

-------------------------------- */
.cd-modal-general{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	@include transition(opacity .3s 0s, visibility 0s .3s);

	.modal-close {
		/* 'X' icon */
		position: absolute;
		z-index: 1;
		top: 20px;
		right: 5%;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		background: rgba(#000, .5) url(../img/cd-icon-close.svg) no-repeat center center;
		
		/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		
		visibility: hidden;
		opacity: 0;
		@include transform(scale(0));
		@include transition(transform .3s 0s, visibility 0s .3s, opacity .3s 0s);

		.no-touch &:hover {
			background-color: rgba(#000, .75);
			transition: (background-color, 0.4s, ease);
		}
	}

	p{
		margin-bottom: 30px;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .7s, visibility 0s);

		.modal-content {
			/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
			-webkit-overflow-scrolling: touch;
		}

		.modal-close {
			visibility: visible;
			opacity: 1;
			@include transition(transform .3s 0s, visibility 0s 0s, opacity .3s 0s);
			@include transform(scale(1));
		}

		
	}

	@include MQ(L) {
		.modal-content {
			padding: 6em 5%;
		}

		.modal-close { 
			height: 45px;
			width: 45px;
		}

		p {
			font-size: 2rem;
		}
	}


}
.cd-modal1 {
	@include linearGradient(33deg, darken(#CB0076, 20%), lighten(#CB0076, 10%)); 

}

.cd-modal2 {
	@include linearGradient(33deg, lighten(#3B6E98,10%), darken(#3B6E98, 30%));

	.modal-close{
		background: rgba($white, .5) url(../img/cd-icon-close2.svg) no-repeat center center;
		background-size: 24px 24px;

		.no-touch &:hover {
			background-color: rgba($white, .75);
		}
	}
}


.cd-modal3 {
	@include linearGradient(33deg, darken(#F15060, 30%), #F15060);

	h2 {
    margin: auto;
    text-align: center;
    
    font: {
    	size: 2.5rem;
    	weight: 700;
    }
	}


}

.cd-modal4 {
	@include linearGradient(33deg, lighten(#FFffee, 10%), #FFffdd);

	h1{
		color: $color-2 !important;
	}
	p{
		color: $color-2 !important;
	}

	
}

.cd-modal5 {
	@include linearGradient(33deg, #022337, #1f0746);

	h2 > a{
		color:$white;
	}

	.modal-close{
		background: rgba($white, .5) url(../img/cd-icon-close2.svg) no-repeat center center;
		background-size: 24px 24px;

		.no-touch &:hover {
			background-color: rgba($white, .75);
		}
	}
}

.modal-content{
	height: 100%;
	overflow-y: auto;
	padding: 3em 5%;
	color: $white;
	background: none;
	@include font-smoothing;

		h1{
			text-align: center;
			color: $white;
			opacity: 0;
				
				font: {
  					size: 3rem;
				  	weight: 400;
				  	family: $primary-font;
				  	style: normal;
				  }
		

			&::after {
				/* ink/brush separation */
				content: '';
				display: block;
				width: 130px;
				height: 18px;
				background: url(../img/ink-separation.svg) no-repeat center center;
				margin: .2em auto 0;
			}
		}

		h2{
			text-align: center;
			opacity: 0;
			margin-bottom: 2rem;
			font:{
				size: 2rem;
			}
		}

		p {
			opacity: 0;
			line-height: 1.6;
			color: $white;
		}

		img {
			opacity: 0;
		}

}

.visible {
	.modal-content{ 

		h1{
			animation-name:titleopacity;
		  	animation-duration: 1s;
		  	animation-delay: 0.5s;
		  	animation-timing-function: cubic-bezier(0, 0, 1, 1);
		  	animation-fill-mode: forwards;
	  	};

	  	h2{
			animation-name:titleopacity;
		  	animation-duration: 1s;
		  	animation-delay: 0.7s;
		  	animation-timing-function: cubic-bezier(0, 0, 1, 1);
		  	animation-fill-mode: forwards;
	  	};

	  	p{
			animation-name:titleopacity;
		  	animation-duration: 1s;
		  	animation-delay: 0.75s;
		  	animation-timing-function: cubic-bezier(0, 0, 1, 1);
		  	animation-fill-mode: forwards;
	  	};

	  	img{
			animation-name:titleopacity;
		  	animation-duration: 1s;
		  	animation-delay: 1.25s;
		  	animation-timing-function: cubic-bezier(0, 0, 1, 1);
		  	animation-fill-mode: forwards; 
	  	};
	  }
};

/* -------------------------------- 

Bottom

-------------------------------- */


.bottom{
	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
	background: $white;
	position: relative;
	z-index: 12;
}

.headline{
	order: 1;
	display: flex;
	flex: 1;
	max-height: 150px;
    /*@include linearGradient(45deg, #f2f2f2,#dddddd);*/
    justify-content: flex-start;
	align-items: center;
	padding: 2rem;

    h2{
    	font: {
			size: 10rem;
			weight: 700;
		}
    	text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7);
    	opacity: 0.25;
    	color:$white;
    	position: relative;
    	right: 0px;
    	bottom: -41px;
   		z-index: 6;

   		@include MQ(M) {
  			font:{
  				size: 14rem;
  			};
  		}

  		@include MQ(L) {
  			font:{
  				size: 17rem;
  			};
  		}
    }

    @include MQ(M) {
  			padding: 5rem;
  			justify-content: flex-end;
  		}

}

.flex-box{
	display: flex;
	flex-flow: column wrap;
    min-height:auto;
    align-items: stretch;
    order: 2;
    flex: 1;

    @include MQ(M) {
  	flex-flow: row wrap;
  }

}

.contact, .about {
	display: flex;
	align-items: stretch;
	flex: 1;
    padding: 5%;
}


.contact{
	order: 2;
    @include linearGradient(45deg,$color-2, $color-1);
    color:#fff;
    flex-flow: column;
    z-index: 7;
    padding: 15% 5% 20% 5%;

    & .bottom-content{
		width:100%;
	}

	@include MQ(M) {
  	order: 1;
  	padding: 5%
  }
}


.about{
	order: 1;
	@include linearGradient(85deg, #f4f4f4, #fff);

	h3{
		  margin-top: 3.5rem;
	}

	.bold{
		font-weight: 700;
	}

	@include MQ(M) {
  	order: 2;
  }
}

.clickhere{
	border-bottom:1px solid rgba(30, 0, 1, 0);
	@include transition(letter-spacing .3s 0s, border-bottom .4s .3s);

	&:hover{
		letter-spacing: 5px;
		border-bottom:1px solid rgba(30, 0, 1, 1);
		
	}
}




/* -------------------------------- 

Transition Layer 

-------------------------------- */

.cd-transition-general {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
		height: 100%;
		/* our sprite is composed of 25 frames */ 
		width: 2500%;
		background: url(../img/ink1.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}




@include keyframes(cd-sequence) {
	0% {
		/* translateX(-2%) is used to horizontally center the first frame inside the viewport */
		@include transform(translateY(-50%) translateX(-2%));
	}
	100% {
		/* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
   		@include transform(translateY(-50%) translateX(-98%));
	}
}

@include keyframes(cd-sequence-reverse) {
	0% {
		@include transform(translateY(-50%) translateX(-98%));
	}
	100% {
   		@include transform(translateY(-50%) translateX(-2%));
	}
}

/* ---------------------------------------------------------------- 

								Form

---------------------------------------------------------------- */


#contact-form {
  min-width: 100%;
  margin: 0 auto;
  transition: opacity 1.5s ease;
  &.nonactive{
  	opacity: 0;
  }

  p{
  	text-align: left;
  }

  @include MQ(L) {
  	min-width: 70%
  }
}

label {
  font-weight: 400;
  cursor: pointer;
}

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  color: $white;
  min-width: 70%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;

  font:{
  	weight: 600;
  	family: $primary-font;
  	size: 1.6rem;
  };

  @include MQ(M) {
  	min-width: 50%
  }
}

textarea {
  text-align: left;
  /* overflow:hidden; */
  
  resize: none;
  width: 100%;
  border-color: rgba(255, 255, 255, 0)
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:focus {
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}



::placeholder {
  text-align: center;
  color: rgba( $white, .5 );
  font:{
  	style: italic;
  	weight: 400;
  	size:1.6rem;
  };
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.sendbutton {
	background: none;
	border: none;
	outline: none;
	margin: 2vmax 0 0 0;
	width: 60px;
	height: 60px;
	box-shadow: 2px 3px 10px #000000;
	border-radius: 100%;
	padding:0;
	cursor: pointer;


	svg{
		.st0{
			fill:$white;
			@include transition(all .4s);
		}
		.st1{
			opacity:0.19;
			clip-path:url(#SVGID_2_);
			fill:$color-1;
			@include transition(all .4s .2s);
		}
		.plane{
			transform: translate(0px, 0px);
			@include transition(all .4s .2s);
		}
		.st2{
			fill:$color-2;
			@include transition(all .4s);
		}
		.st3{
			opacity:0.19;
			fill:lighten($color-2, 50%);
			@include transition(all .4s);
		}

	}

	&:hover{
		box-shadow: none;
		svg{
			.st0{
				fill:transparent;
			}
			.st1{
				opacity: 0.1;
				transform: translate(0px, -2px);
				fill:rgba($black, 1);
			}
			.plane{
				transform: translate(0px, -2px);
			}
			.st2{
				fill:$white;
			}
			.st3{
				opacity:0.19;
				fill:darken($white, 30%);
			}
		}
	}

	&.active{

	svg{
		.st0{
			fill:transparent;
		}
		.st1{
			opacity: 0;
		}
		.plane{
			transform: translate(12px, -24px);
		}
		.st2{
			fill:$white;
		}
		.st3{
			opacity:0.19;
			fill:darken($white, 30%);
			}
		}
	}

}



legend {
    margin: 2rem auto 30px auto;
    text-align: center;
    line-height: 3.5rem;
    font:{
    	size: 2rem;
    	weight: 700;
    }

    @include MQ(M) {
  			margin: 0 auto 50px auto;	
  		}
}

.alert {
    margin: 4rem auto 50px auto;
    text-align: center;
    line-height: 3.5rem;
    align-self: center;
    justify-content: center;
    font:{
    	size: 3rem;
    	weight: 700;
    }

    @include MQ(M) {
  			margin: 0 auto 50px auto;	
  		}
}

.messages{
	opacity: 0;
	transition: opacity 1.5s ease-in;
	display: flex;
	flex:1;   
	&.active{
		opacity: 1;   
	}
}

/* -------------------------------- 

FLoating labels 

-------------------------------- */

.js .floating-labels {
	div {
		margin: 0 0 20px 0;
	}

	.cd-label {
		position: absolute;
		top: 16px;
		left: 16px;
		font-size: 1.6rem;
		cursor: text;
		@include transition(top .2s, left .2s, font-size .2s);
	}

	.icon .cd-label {
		left: 56px;
	}

	.cd-label.float {
		/* move label out the input field */
		font-size: 1.2rem;
		top: -16px;
		left: 0 !important;
	}

	@include MQ(M) {

		legend + div {
			/* reduce margin-top for first form element after the legend */
			margin-top: 16px;
		}

		.cd-label {
			top: 20px;
		}
	}
}





