<div class="cd-modal1 cd-modal-general">
	<div class="modal-content">
		<h1>TSA - Toronto School of art</h1>
		<h2><a href="http://www.tsa-art.com/" target="_blank">www.tsa-art.com</a></h2>
		<div class="flexcontainer">
		<div class="smallitem"><p>
			The Toronto School of Art is an art school that teaches all experience levels. The purpose of this new website was to allow future students to directly purchase classes without the need of a third party website. This gave us the creative opportunity to build an entirely new website.
				</p>
				<p>
			When the page loads, all of the elements take their place one by one. The TSA (logo?) and the painting behind it move when the cursor is moved, and follow the user’s movement down the homepage.
		</p></div>
		<div class="smallitem"><img src="img/tsa/mainpage.jpg"></div>
		</div>

		<div class="flexcontainer">
		<div class="smallitem"><img src="img/tsa/courses-full-list.jpg"></div>
		<div class="smallitem"><p>
			On the courses page, side navigation is fixed, staying with the user the entire time they’re on the website. This helps users navigate through the available courses displayed through their selected term and course-type filters.
		</p></div>
		</div>

		<div class="flexcontainer">
		<div class="smallitem"><p>
			Side navigation works the same way on this page, helping the user navigate between sections. As well, we added a filtering system on the top of the sections, allowing the user to choose the level of their course and the duration. This removes the need to go back to the previous page to change the filter selections.
		</p></div>
		<div class="smallitem"><img src="img/tsa/category-page.jpg"></div>
		</div>

		<div class="flexcontainer">
		<div class="smallitem"><img src="img/tsa/program-details.jpg"></div>
		<div class="smallitem"><p>
			This page is for single courses. The user can pick the time frame that they want to choose from, and see what will be taught.
		</p></div>
		</div>

		<div class="flexcontainer">
		<div class="smallitem"><p>
			The cart page allows users to input their information, while also allowing them to remove or add a course, as well as adding an additional student to a course.
				</p>
				<p>
			The user can also see their total, and input any promo codes should they have any. 
		</p></div>
		<div class="smallitem"><img src="img/tsa/multi-courses-registration.jpg"></div>
		</div>


	
	</div> <!-- .modal-content -->

	<a href="#0" class="modal-close">Close</a>
</div> <!-- .cd-modal -->




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34684738-2', 'auto');
  ga('send', 'pageview');

</script>
